@page "/tips"
@using System.IO
@using Wasted.Data
@using BlazorCustomEventArgs.CustomEvents
@inject TipsService TipsService

<h1><font color=rbg(0,15,128)><br>TIPS</font>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</h1>

<p class = "p">The best way to predict the future is to create it!</p>
<hr><hr>
<div class="paragraphBlock">
@foreach(var tips in allTips)
		{
			if(tips.AdminApproved == true)
			{
				tipNr = tips.TipId;
				<h2 class = "h2"><br>@tips.TipName
					<i @onclick="() => LikePressed(tips.TipId)" class="fa fa-thumbs-up">
						@tips.TipLikes
					</i>
					<i @onclick="() => DislikePressed(tips.TipId)" class="fa fa-thumbs-down">
						@tips.TipDislikes
					</i>
				</h2>
				<br> 
				<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="70"
				aria-valuemin="0" aria-valuemax="100" style="width:@tips.TipLikes%">
					<span class="sr-only">Complete</span>
				</div>
				</div>
				<br>
				<p class = "p">@tips.Name</p> 
				<button class="learnmore" onclick=" window.open('@tips.Link','_blank');">
				I want to learn more
				</button>
				<br>
			}
		}
		</div>
		<hr><hr>
		<p class = "p">Add your own helpful tip!</p>
		<div> 
        <input class="form-control tac textField" type="text"  placeholder="Tip name" @bind="@newTip.TipName"/>
        <input class="form-control tac textField" type="text"   placeholder="Tip" @bind="@newTip.Name"/>
        <input class="form-control tac textField" type="text"  placeholder="Link for more information about it"  @bind="@newTip.Link"  @oncustompaste="HandleCustomPaste"/>
		<p>@message</p>
    	</div>
		<ul>
        @foreach (string ErrorMesage in @ErrorMessages)
        {
            @ErrorMesage
            <br>
        }
    	</ul>
		<div>
        <button class="learnmore" type="submit" @onclick="SubmitPressed"> Submit </button>
		</div>
		<div id = "vertically-aligned-block"class="flex float">
</div>
    	

@code{
	public static List<string> ErrorMessages = new List<string>();
	private List<Tip> allTips = new ();
	public int number = 1;
	public int tipNr = 0;
	public int clickLikeCount;
	public int clickDislikeCount;
	string message;
	Boolean likePressed = false;

	public Tip newTip = new Tip();

  	protected override async Task OnInitializedAsync()
    {
		allTips = await TipsService.GetTips();
    }

	void HandleCustomPaste(CustomPasteEventArgs eventArgs)
    {
        message = $"At {eventArgs.EventTimestamp.ToShortTimeString()}, you pasted: {eventArgs.PastedData}";
    }

	public async Task SubmitPressed()
    {
        newTip.TipId = await TipsService.AddTip(newTip);
        allTips.Add(newTip);
        newTip = new Tip();
    }
	public void LikePressed(int id)
    {
		if (number != id){
			{
			clickLikeCount = 0;
			}
		}
		number = id;
		if (clickLikeCount == 0)
		{
			clickLikeCount++;
			TipsService.Like(allTips, id);
		}
		else
		{
			clickLikeCount--;
			TipsService.UnLike(allTips, id);
		}
    }
	public void DislikePressed(int id)
    {
			if (number != id){
				clickDislikeCount = 0;
			}
			if (clickDislikeCount == 0)
			{
				clickDislikeCount++;
				TipsService.Dislike(allTips, id);
			}
			else
			{
				clickDislikeCount--;
				TipsService.UnDislike(allTips, id);
			}
		}	
}