@page "/registration"

@using Wasted.Data
@inject RegistrationService RegistrationService

<h1 class="tac">Registration</h1>

<style>
    @@import "css/Utils.css"
</style>

<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
<form method="post" action="submitscrip.php" target="dummyframe">
<div > 
    <input class="form-control tac regField" type="text"  placeholder="Name" @bind="@NameBox"/>
    <input class="form-control tac regField" type="text"   placeholder="Last name" @bind="@LastNameBox"/>
    <input class="form-control tac regField" type="email"  placeholder="Email"  @bind="@EmailBox"/>
    <input class="form-control tac regField" type="password" placeholder="Password" @bind="@PasswordBox"/>
</div>
<div>
    <input class="buttonSub" type="submit" @onclick="submitPressed"> Submit</input>
</div>
</form>
<ul class="registrationMessage tac">
    @foreach (string ErrorMesage in @ErrorMessages)
    {
        <li>@ErrorMesage</li>
    }
</ul>
@if(ErrorMessages.Any() && ErrorMessages[0] == "Success! Welcome to the Wasted family!")
{
    <div>
            <input class="buttonSub center" type=button onClick="parent.location='http://localhost:5000'"value='Continue as a registered user'>
    </div>
}

@code
{  
    public static List<string> ErrorMessages = new List<string>();
    static string NameBox ;
    static string LastNameBox ;
    static string EmailBox ; 
    static string PasswordBox ;
    static List<User> users = new List<User>();

    public void submitPressed()
    {
        RegistrationService service = new RegistrationService();
        users = service.AddUserData(NameBox, LastNameBox, EmailBox, PasswordBox, users, ErrorMessages);
        ErrorMessages = service.getErrorMess();
    }
   
}
