@page "/registration"
@using System.IO

<h1 class="tac">Registration</h1>
@code{

}
<style>
    @@import "css/Utils.css"
</style>


<form method="post">
<div > 
    <input class="form-control tac regField" type="text"  placeholder="Name" @bind="@NameBox"/>
</div>
<div> 
    <input class="form-control tac regField" type="text"   placeholder="Last name" @bind="@LastNameBox"/>
</div>
<div> 
    <input class="form-control tac regField" type="email"  placeholder="Email" @bind="@EmailBox"/>
</div>
<div> 
    <input class="form-control tac regField" type="password" placeholder="Password" @bind="@PasswordBox"/>
</div>
</form>
<div>
    <button class="buttonSub" @onclick="AddUserData"> Submit</button>
</div>

<ul class="registrationMessage tac">
    @foreach (string ErrorMesage in ErrorMesages)
    {
        <li>@ErrorMesage</li>
    }
</ul>

@code
{  
    private List<string> ErrorMesages = new List<string>();
    static string NameBox = "";
    static string LastNameBox ;
    static string EmailBox ; 
    static string PasswordBox ;
    static List<User> users = new List<User>();
        
    public void AddUserData()
    {
        CreateUserList();
        if( !(string.IsNullOrEmpty(NameBox) || string.IsNullOrEmpty(LastNameBox) || string.IsNullOrEmpty(EmailBox) || string.IsNullOrEmpty(PasswordBox)))
        {
            if(newEmail(EmailBox))
            {
                users.Add(new User(){
                    Name = NameBox,
                    Lastname = LastNameBox,
                    Email = EmailBox,
                    Password = PasswordBox
                });
                File.AppendAllText(@"UserData.txt", NameBox + "," + LastNameBox + "," + EmailBox + "," + PasswordBox + Environment.NewLine);
                users.Clear();
                CreateUserList(); 
                ErrorMesages.Clear();
                ErrorMesages.Add("Success! Welcome to the Wasted family!");
            }
            else
            {
                ErrorMesages.Clear();
                ErrorMesages.Add("User with this email already exists");
            }
         }
         else
         {
            ErrorMesages.Clear();   
         }
    }

    public bool newEmail(string email)
    {
        bool newEmail = true;
        foreach(User regUser in users)
        {
            if(String.Equals(email, regUser.Email))
            {
                newEmail = false;
            }
        }
        return newEmail;
    }

    public void CreateUserList()
    {
        string[] lines = System.IO.File.ReadAllLines(@"UserData.txt");   
        foreach(string line in lines) 
        {

            string[] userData = line.Split(',');
            users.Add(new User()
            {   Name = userData[0],
                Lastname = userData[1],
                Email = userData[2],
                Password = userData[3]
            });
        } 
    }
   
}
