@page "/tips"
@using System.IO
@using Wasted.Data
@using BlazorCustomEventArgs.CustomEvents
@inject TipsService TipsService

<h1><font color=rbg(0,15,128)><br>TIPS</font>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</h1>

<p style="font-size:20px;">The best way to predict the future is to create it!</p>
<hr><hr>

@foreach(var tips in allTips)
		{
			tipNr = tips.TipNumber;
			<h2><font color=rbg(24,28,92)><br>@tips.TipName</font>
				<i @onclick="() => LikePressed(tips.TipNumber)" class="fa fa-thumbs-up">
					@tips.TipLikes
				</i>
				<i @onclick="() => DislikePressed(tips.TipNumber)" class="fa fa-thumbs-down">
					@tips.TipDislikes
				</i>
				<button class="from-control tac remove" @onclick="() => allTips.Remove(tips)"> - </button>
			</h2>
			<br> 
			<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="70"
			aria-valuemin="0" aria-valuemax="100" style="width:@tips.TipLikes%">
				<span class="sr-only">Complete</span>
			</div>
			</div>
			<br>
			<p style="font-size:20px;">@tips.Name</p> 
			<button class="learnmore" onclick=" window.open('@tips.Link','_blank');">
			I want to learn more
			</button>
			<br>
			
		}
		<hr><hr>
		<p style="font-size:20px;">Add your own helpful tip!</p>
		<div> 
        <input class="form-control tac textField" type="text"  placeholder="Tip name" @bind="@NameTextField"/>
        <input class="form-control tac textField" type="text"   placeholder="Tip" @bind="@TipTextField"/>
        <input class="form-control tac textField" type="text"  placeholder="Link for more information about it"  @bind="@LinkTextField"  @oncustompaste="HandleCustomPaste"/>
		<p>@message</p>
    	</div>
		<ul>
        @foreach (string ErrorMesage in @ErrorMessages)
        {
            @ErrorMesage
            <br>
        }
    	</ul>
		<div>
        <button class="learnmore" type="submit" @onclick="SubmitPressed"> Submit </button>
		</div>
		<br>
		<button class="learnmore" @onclick="SavePressed"> SAVE </button>
		<div id = "vertically-aligned-block"class="flex float">
</div>
    	

@code{
	public static List<string> ErrorMessages = new List<string>();
	List<TipsModel> allTips = new();

	public int tipsRead = 0;
	public int number = 1;
	public int tipNr = 0;
	string NameTextField = "";
	string TipTextField = "";
	string LinkTextField = "";
	public int clickLikeCount;
	public int clickDislikeCount;
	string message;

    protected override void OnInitialized()
    {
		allTips = TipsService.GetTips();
       
    }

	void HandleCustomPaste(CustomPasteEventArgs eventArgs)
    {
        message = $"At {eventArgs.EventTimestamp.ToShortTimeString()}, you pasted: {eventArgs.PastedData}";
    }
	public void SubmitPressed()
    {
		ErrorMessages.Clear();
        ErrorMessages = TipsService.AddTip(NameTextField, TipTextField, LinkTextField, tipNr, allTips);
		ErrorMessages.Clear();
        NameTextField = "";
        TipTextField = "";
        LinkTextField = "";
	}

	public void SavePressed()
    {
       TipsService.SaveTips(allTips);
	}
	public void LikePressed(int nr)
    {
		if (number != nr){
			{
			clickLikeCount = 0;
			}
		}
		number = nr;
		if (clickLikeCount == 0)
		{
			clickLikeCount++;
			TipsService.Like(allTips, nr, clickLikeCount);
		}
		else
		{
			clickLikeCount--;
			TipsService.UnLike(allTips, nr, clickLikeCount);
		}
    }
	public void DislikePressed(int nr)
    {
			if (number != nr){
				clickDislikeCount = 0;
			}
			if (clickDislikeCount == 0)
			{
				clickDislikeCount++;
				TipsService.Dislike(allTips, nr, clickDislikeCount);
			}
			else
			{
				clickDislikeCount--;
				TipsService.UnDislike(allTips, nr, clickDislikeCount);
			}
		}	
}