@page "/tips"
@using System.IO
@using Wasted.Data
@inject TipsService TipsService

<h1><font color=rbg(0,15,128)><br>TIPS</font>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<i class="fa fa-check" @onclick="ReadTips"></i>

</h1>

<p style="font-size:20px;">The best way to predict the future is to create it!</p>
<hr><hr>

@foreach(var tips in allTips)
		{
			<h2><font color=rbg(24,28,92)><br>@tips.TipName</font>
				<i @onclick="LikePressed" class="fa fa-thumbs-up">
					@tips.TipLikes
				</i>
				<i @onclick="DislikePressed" class="fa fa-thumbs-down">
					@tips.TipDislikes
				</i>
				<button class="from-control tac remove" @onclick="() => allTips.Remove(tips)"> - </button>
			</h2>
			<br> 
			<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="70"
			aria-valuemin="0" aria-valuemax="100" style="width:@tips.TipLikes%">
				<span class="sr-only">Complete</span>
			</div>
			</div>
			<br>
			<p style="font-size:20px;">@tips.Name</p> 
			<button class="learnmore" onclick=" window.open('@tips.Link','_blank');">
			I want to learn more
			</button>
			<br>
			
		}
		<br>
		@if (tipsRead != 0)
		{
		<p style="font-size:20px;">Add your own helpful tip!</p>
		<div> 
		<input class="form-control tac textField" type="text"  placeholder="Tip number" @bind="@NumberTextField"/>	
        <input class="form-control tac textField" type="text"  placeholder="Tip name" @bind="@NameTextField"/>
        <input class="form-control tac textField" type="text"   placeholder="Tip" @bind="@TipTextField"/>
        <input class="form-control tac textField" type="text"  placeholder="Link for more information about it"  @bind="@LinkTextField"/>
    	</div>
		<div>
        <button class="learnmore" type="submit" @onclick="SubmitPressed"> Submit </button>
		</div>
		<br>
		<button class="learnmore" @onclick="SavePressed"> SAVE </button>
		}
    	

@code{
	List<TipsModel> allTips = new();
	public int tipsRead = 0;
	public int number;
	string NameTextField = "";
	string TipTextField = "";
	string LinkTextField = "";
	string NumberTextField;
	public int clickLikeCount;
	public int clickDislikeCount;
	public void ReadTips()
	{
		tipsRead = 1;
		allTips = TipsService.GetTips();
	}

	public void SubmitPressed()
    {
        TipsService.AddTip(NameTextField, TipTextField, LinkTextField, NumberTextField, allTips);
		NumberTextField = "";
        NameTextField = "";
        TipTextField = "";
        LinkTextField = "";
	}

	public void SavePressed()
    {
        TipsService.SaveTips(allTips);
	}
	public void LikePressed()
    {
		if (clickLikeCount == 0)
		{
			clickLikeCount++;
			TipsService.Like(allTips, number, clickLikeCount);
		}
		else
		{
			clickLikeCount--;
			TipsService.UnLike(allTips, number, clickLikeCount);
		}
    }
	public void DislikePressed()
    {
		if (clickDislikeCount == 0)
		{
			clickDislikeCount++;
			TipsService.Dislike(allTips, number, clickDislikeCount);
		}
		else
		{
			clickDislikeCount--;
			TipsService.UnDislike(allTips, number, clickDislikeCount);
		}
	}
}